apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Chart.Name }}
  namespace: {{ .Release.Namespace }}
data:
  AUTHN_PORT: "{{ .Values.AUTHN_PORT }}"
  AUTHN_DEBUG: "{{ .Values.AUTHN_DEBUG }}"
  AUTHN_KUBECONFIG_CLUSTER_NAME: "{{ .Values.AUTHN_KUBECONFIG_CLUSTER_NAME }}"
  AUTHN_KUBECONFIG_CRT_EXPIRES_IN: {{ .Values.AUTHN_KUBECONFIG_CRT_EXPIRES_IN }}
  AUTHN_KUBECONFIG_PROXY_URL: {{ .Values.AUTHN_KUBECONFIG_PROXY_URL }}
  AUTHN_KUBECONFIG_CACRT: {{ .Values.AUTHN_KUBECONFIG_CACRT }}
